@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  user-select: none;
  -webkit-user-select: none;
}

.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.drag > * {
  -webkit-app-region: no-drag;
}

* {
  outline: none;
}