@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  user-select: none;
  -webkit-user-select: none;
}

.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.drag > * {
  -webkit-app-region: no-drag;
}

* {
  outline: none;
}

.no-scroll-indicator {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scroll-indicator::-webkit-scrollbar {
  display: none;
}

